body {
    background-color: #241734;
}

/*Start of Header Styles*/
header {
    display: flex;
    height: 125px;
    background-color: #540d6e;
    justify-content: space-between;

}

h1 {
    align-self: center;
    justify-self: center;
    color: #2de2e6;
    font-size: 75px;
    text-shadow: 5px 5px 10px #fd3777;
    font-family: "Audiowide",serif;
}

header nav {
    align-self: flex-end;
    padding: 15px 25px;
}

header nav a {
    text-decoration: none;
    color: #2de2e6;
    font-size: 25px;
    font-family: "kode mono";
}
/*End of header styles*/

.container {
    max-width: 1280px;
    margin: 0 auto;
    

}

/*Main content box that controls flow*/
.box1 {
    margin: 450px 0;
    width: 100%;
    /* height: 600px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: stretch;
    gap: 15%;

    
    
}
.box1:first-child {
    margin-top: 350px;

}
/*Start of picture stylings*/
.project_picture { 
    width: 50%;
    height: 100%;
    display: flex;
    /* min-width: 400px; */
    align-items: center;
    justify-content: center;
    align-self: stretch;

}

.project_picture a {
    transition: rotate 260ms ease-in-out;
    /* height: 300px; */
    /* width: 400px; */
    /* margin-right: 45px; */
    /* border-radius: 25px; */
    box-shadow: 5px 10px 10px #fd3777;
    rotate: 5deg;
}

.responsive_images {
    width: 100%;
    height: auto;
}

/* @keyframes img_hover {
    0%   {rotate:1 1 0 15deg;}
    25%  {rotate:1 1 0 15deg;}
    50%  {rotate: 1 1 0 15deg;}
    100% {rotate: 1 1 0 15deg;}
  } */

.project_picture a:hover {
    rotate: -10deg; 
    /* animation-name: img_hover;
    animation-duration: 4s; */
}
/*End of picture stlings*/

/*Start of project description stylings*/
.project_description {
    width: 50%;
    height: 100%;
    /* min-width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin-top: 25%; */

}

.description_content h2 {
    font-size: 40px;
    margin-bottom: 25px;
    border: #2de2e6 5px solid;
    padding: 5px;
    background-color: #2de2e6;
    color: #241734;
    font-family: "Audiowide",serif;
    
}

.description_content p {
    /* margin: 0 10% 10% 25%; */
    color: #2de2e6;
    line-height: 150%;
    text-align: center;
    font-size: 20px;
    font-family: "kode mono";
}
/*End of project description Stylings*/

footer {
    height: 100px;
    background-color: #540d6e;
    width: 100%;

}